<h1>My Lists</h1>


<table>
  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td>
          <%= link_to list.name, list %>
        </td>
        <td>
          <%= cl_image_tag("fisjxdomu9tyrumlno33", width: 100, height: 100, crop: :fill) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Create a new list", new_list_path%>
