<h1>My Lists</h1>


<table>
  <thead>
    <tr>
      <th>My Lists</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= link_to list.name, list %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Create a new list", new_list_path%>
